</td>
</tr>

<tr>
    <td style="padding: 20px; text-align: center; background-color: #f4f4f4; color: #777777;">
        <p style="margin: 0; font-size: 12px;">&copy; 2024 Airseat. All rights reserved.</p>
        <p style="margin: 10px 0 0 0; font-size: 12px;">Airseat Email System</p>
    </td>
</tr>
</table>
</td>
</tr>
</table>
</body>

</html>